@model IEnumerable<ProyectoRRHH.Models.candidato>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Lista de Candidatos</h2>
<p>
    <a asp-action="Create" class="btn btn-success">Agregar</a>
</p>

<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Buscar por cédula,competencia,capacitaciones" value="@ViewData["candidatos"]" name="Candsearch" style="width:500px;" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
         <a asp-action="Index" class="btn btn-info">Listado</a>
     </p>

</form>

<div class="table-responsive">
    <table class="table table-bordered border-4 table-hover">
        <thead>
            <tr class="table-light text-dark opacity-60">
                <th class="">
                    <h6>Cédula</h6>
                </th>
                <th>
                    <h6>Nombre</h6>
                </th>
                <th>
                    <h6>Salario aspira</h6>
                </th>
                <th>
                    <h6>Competencias</h6>
                </th>
                <th>
                    <h6>Capacitaciones</h6>
                </th>
                <th>
                    <h6>Departamento</h6>
                </th>
                <th>
                    <h6>Puesto aspira</h6>
                </th>
                <th>
                    <h6>Idiomas</h6>
                </th>
                <th>
                    <h6>Experiencia Laboral</h6>
                </th>
                <th>
                    <h6>Empresa</h6>
                </th>
                <th>
                    <h6>Puesto ocupado</h6>
                </th>
                <th>
                    <h6>Fecha desde</h6>
                </th>
                <th>
                    <h6>Fecha hasta</h6>
                </th>
                <th>
                    <h6>Salario</h6>
                </th>
                <th>
                    <h6>Recomendado por:</h6>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.salarioaspira)
                    </td>
                    <td>
                        @{
                            var competencias = String.Join(", ", item.competencia.Select(x => x.descripcion).ToArray());
                        }
                        @Html.DisplayFor(modelItem => competencias)
                    </td>

                    <td>
                        @{
                            var capacitaciones = String.Join(", ", item.capacitaciones.Select(x => x.descripcion).ToArray());
                        }
                        @Html.DisplayFor(modelItem => capacitaciones)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.departamentoNavigation.departamento1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.puestoaspiraNavigation.nombre)
                    </td>
                    <td>
                        @{
                            var idiomas = String.Join(", ", item.idiomas.Select(x => x.nombre).ToArray());
                        }
                        @Html.DisplayFor(modelItem => idiomas)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.explaboral)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.puestoocupado)
                    </td>
                    <td>
                        @{
                            var FechaDesde = ((DateTime)item.fechadesde).ToString("dd/MM/yyyy");
                        }
                        @Html.DisplayFor(modelItem => FechaDesde)
                    </td>

                    <td>
                        @{
                            var FechaHasta = ((DateTime)item.fechahasta).ToString("dd/MM/yyyy");
                        }
                        @Html.DisplayFor(modelItem => FechaHasta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.recomendadopor)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-type="button" class="btn btn-warning" asp-route-id="@item.id"><span class="bi bi-pencil-square"></span></a> 
                        <!--<a asp-action="Details" class="btn btn-primary" asp-route-id="@item.id">Detalles</a>-->
                        <a asp-action="Delete" asp-type="button" class="btn btn-danger" asp-route-id="@item.id"><span class="bi bi-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
